<?xml version="1.0"?>
<!-- Wrapper so MoveItConfigsBuilder can load URDF from this package (see moveit_config_data.py). -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="welding_robot">
  <xacro:include filename="$(find welding_robot_description)/urdf/welding_robot_macro.xacro"/>
  <xacro:include filename="$(find welding_robot_description)/urdf/welding_robot_mock_ros2_control.xacro"/>
  <xacro:welding_robot_body/>
  <xacro:welding_robot_mock_ros2_control/>
</robot>
