<?xml version="1.0"?>
<!-- Gazebo Classic + gazebo_ros2_control. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="welding_robot">
  <xacro:include filename="welding_robot_macro.xacro"/>
  <xacro:include filename="welding_robot_gazebo_ros2_control.xacro"/>
  <xacro:welding_robot_body/>
  <xacro:welding_robot_gazebo_ros2_control/>
</robot>
